<%= form_with(model: userpost, local: true) do |form| %>
  <% if userpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userpost.errors.count, "error") %> prohibited this userpost from being saved:</h2>

      <ul>
      <% userpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :userpost_content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :userpost_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
